.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 150px)
}


.container2{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px repeat(8, auto);
}

@media only screen and (max-width: 375px){
  .container2 {display: grid;
  grid-template-columns: 1fr;}
}

.background{
  grid-column: 1/-1;
  grid-row: 1/7;
}
